* {
  box-sizing: border-box; }
  *:before, *:after {
    box-sizing: border-box; }

html {
  height: 100%; }

body {
  font-size: 16px;
  line-height: 1.75;
  font-family: 'Pacifico', cursive;
  font-family: 'Kavivanar';
  overflow-x: hidden;
  opacity: 1;
  min-width: 320px;
  position: relative;
  margin: 0;
  padding: 0;
  background-color: #f4f3ee;
  color: #8b8b8b; }

html {
  scroll-behavior: smooth; }

.text-center {
  text-align: center; }

h1, h2 {
  margin: 0; }

a {
  text-decoration: none;
  cursor: pointer;
  color: #8b8b8b; }

@font-face {
  font-family: 'Indie Flower';
  src: url("../fonts/Indie_Flower/IndieFlower.ttf"); }

@font-face {
  font-family: 'Kavivanar';
  src: url("../fonts/Kavivanar/Kavivanar-Regular.ttf"); }

@font-face {
  font-family: 'Pacifico';
  src: url("../fonts/Pacifico/Pacifico-Regular.ttf"); }

@font-face {
  font-family: 'Dancing Script';
  src: url("../fonts/Dancing_Script/DancingScript-Regular.ttf"); }

@font-face {
  font-family: 'Playball';
  src: url("../fonts/Playball/Playball-Regular.ttf"); }

@font-face {
  font-family: 'Alex Brush';
  src: url("../fonts/Alex_Brush/AlexBrush-Regular.ttf"); }

@font-face {
  font-family: 'Monsieur La Doulaise';
  src: url("../fonts/Monsieur_La_Doulaise/MonsieurLaDoulaise-Regular.ttf"); }

@font-face {
  font-family: 'Eagle Lake';
  src: url("../fonts/Eagle_Lake/EagleLake-Regular.ttf"); }

.grid {
  display: grid; }

section, header, footer {
  position: relative; }

.angle {
  z-index: 3;
  width: 40px;
  position: absolute;
  top: 25px;
  right: 3%;
  transition: transform 1s ease; }
  .angle:hover {
    transform: scale(1.3) translateY(-10px); }
  .angle i {
    color: white;
    font-size: 40px; }

.header {
  position: relative;
  padding: 20px 30px;
  background-image: url("../img/ExpertBreakfast_Feature.png");
  background-size: cover;
  background-position: center;
  min-height: 55vh;
  grid-template-columns: 1fr;
  align-content: center;
  text-align: center; }
  .header #sideBar {
    z-index: 4;
    position: fixed;
    left: -23%;
    width: 23%;
    height: 100vh;
    background-color: rgba(28, 23, 26, 0.97);
    transition: left .4s ease;
    top: 0; }
    .header #sideBar.active {
      left: 0; }
    .header #sideBar .toggle-btn {
      position: absolute;
      left: calc(100% + 30px);
      top: 15px;
      cursor: pointer; }
      .header #sideBar .toggle-btn i {
        font-size: 40px;
        color: #1c191c; }
        .header #sideBar .toggle-btn i.fa-times {
          font-size: 45px;
          transition: transform .5s ease; }
          .header #sideBar .toggle-btn i.fa-times:hover {
            transform: rotate(90deg) rotateX(0); }
    .header #sideBar .menu {
      height: 100%;
      margin: 0;
      padding-left: 0;
      background-color: none;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(8, 1fr);
      text-align: center;
      align-content: center; }
      .header #sideBar .menu .menu__item {
        padding: 0 20px;
        color: white;
        font-size: 24px;
        align-content: center; }
        .header #sideBar .menu .menu__item:last-child {
          border-bottom: 0; }
        .header #sideBar .menu .menu__item:hover {
          background-color: rgba(28, 23, 26, 0.98); }
        .header #sideBar .menu .menu__item .menu__link {
          color: white; }
  .header .header__caption {
    width: 100%;
    padding-top: 100px;
    margin: 0 auto;
    max-width: 600px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 20px;
    font-family: 'Pacifico', cursive;
    font-weight: 300;
    font-size: 70px;
    color: #400704; }
    .header .header__caption .header__caption_healthy {
      grid-column: 1;
      grid-row: 1;
      line-height: 1; }
    .header .header__caption .header__caption_food {
      text-align: end;
      grid-column: 2;
      grid-row: 2;
      line-height: .6; }

.content-section {
  padding: 80px 0; }

.content-section__container {
  max-width: 800px;
  margin: auto;
  padding: 0 20px;
  text-align: center; }

.anchor {
  position: absolute;
  top: 2px;
  left: 0; }

.welcome-section .content-section__container {
  grid-template-columns: 1fr 1fr; }
  .welcome-section .content-section__container > div, .welcome-section .content-section__container > a {
    padding: 0 40px; }
  .welcome-section .content-section__container .welcome-section__left {
    line-height: 1;
    outline: none; }
    .welcome-section .content-section__container .welcome-section__left p {
      line-height: 1.75; }
  .welcome-section .content-section__container .welcome-section__right {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(7, 1fr); }
    .welcome-section .content-section__container .welcome-section__right > div, .welcome-section .content-section__container .welcome-section__right > a {
      min-height: 22vh; }
    .welcome-section .content-section__container .welcome-section__right .tasty-bigger {
      grid-column: 1/4;
      grid-row: 1/7;
      background-image: url("../img/1.jpg");
      background-size: cover;
      background-position: center;
      transition: background-image .9s ease; }
      .welcome-section .content-section__container .welcome-section__right .tasty-bigger.bigger_2 {
        background-image: url("../img/main3.jpg"); }
    .welcome-section .content-section__container .welcome-section__right .tasty-smaller {
      z-index: 1;
      grid-column: 3/7;
      grid-row: 3/8;
      background-image: url("../img/drink.jpg");
      background-size: cover;
      background-position: center;
      transition: background-image .9s ease; }
      .welcome-section .content-section__container .welcome-section__right .tasty-smaller.smaller_2 {
        background-image: url("../img/4.jpg"); }

.simple-caption span {
  font-family: 'Monsieur La Doulaise', cursive;
  color: #406523;
  font-size: 50px;
  font-weight: 500; }

.simple-caption h2 {
  font-family: 'Eagle Lake', cursive;
  text-align: center;
  color: #78726f;
  font-size: 20px;
  font-weight: 400; }

.galery-section {
  position: relative;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  padding: 10px;
  transition: background-color 1.5s ease;
  text-align: center; }
  .galery-section:hover::before {
    background-color: #1c191c;
    opacity: .3; }
  .galery-section:hover .simple-caption.item {
    background-color: #dfded9;
    opacity: 1;
    z-index: 2; }
  .galery-section .galery__item {
    min-height: 50vh; }
  .galery-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #1c191c;
    opacity: .1; }
  .galery-section .galery__item.grid {
    text-align: center;
    align-content: center; }
    .galery-section .galery__item.grid .simple-caption.item {
      padding-left: 25px;
      padding-right: 40px; }

.simple-caption.item {
  opacity: 1;
  max-width: 182px;
  z-index: 2;
  background-color: #f4f3ee;
  margin: 0 auto;
  line-height: 1.4;
  padding: 15px;
  padding-right: 30px; }
  .simple-caption.item span {
    font-size: 40px; }
  .simple-caption.item h2 {
    text-align: center;
    font-size: 16px;
    padding-left: 15px; }

.services-section .content-section__container {
  grid-template-columns: 1fr;
  text-align: center; }
  .services-section .content-section__container .simple-caption {
    width: 100%;
    padding-top: 0;
    padding-bottom: 30px;
    height: fit-content; }
  .services-section .content-section__container .services-section__container {
    grid-template-columns: repeat(4, 1fr);
    text-align: center; }
    .services-section .content-section__container .services-section__container .services-section__item {
      padding: 20px;
      padding-bottom: 0;
      transition: background-image color .35s ease; }
      .services-section .content-section__container .services-section__container .services-section__item:hover {
        color: #78726f; }
        .services-section .content-section__container .services-section__container .services-section__item:hover .services-section_img-breakfast {
          background-image: url("../img/icons/breakfast_hover.svg"); }
        .services-section .content-section__container .services-section__container .services-section__item:hover .services-section_img-lunch {
          background-image: url("../img/icons/lunch_hover.svg"); }
        .services-section .content-section__container .services-section__container .services-section__item:hover .services-section_img-dinner {
          background-image: url("../img/icons/dinner_hover.svg"); }
        .services-section .content-section__container .services-section__container .services-section__item:hover .services-section_img-custom {
          background-image: url("../img/icons/salad_hover.svg"); }
      .services-section .content-section__container .services-section__container .services-section__item-img {
        height: 100px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center; }
        .services-section .content-section__container .services-section__container .services-section__item-img.services-section_img-breakfast {
          background-image: url("../img/icons/breakfast.svg"); }
        .services-section .content-section__container .services-section__container .services-section__item-img.services-section_img-lunch {
          background-image: url("../img/icons/lunch.svg"); }
        .services-section .content-section__container .services-section__container .services-section__item-img.services-section_img-dinner {
          background-image: url("../img/icons/dinner.svg"); }
        .services-section .content-section__container .services-section__container .services-section__item-img.services-section_img-custom {
          background-image: url("../img/icons/salad.svg"); }
      .services-section .content-section__container .services-section__container .services-section__item h4, .services-section .content-section__container .services-section__container .services-section__item p {
        margin-bottom: 0; }
      .services-section .content-section__container .services-section__container .services-section__item h4 {
        font-family: 'Eagle Lake', cursive; }

.reservation-section {
  grid-template-columns: 1fr;
  transition: background-color 1.5s ease; }
  .reservation-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #1c191c;
    opacity: .1; }
  .reservation-section:hover::before {
    background-color: #1c191c;
    opacity: .3; }
  .reservation-section:hover .simple-caption.item {
    background-color: #dfded9;
    opacity: 1;
    z-index: 2; }
  .reservation-section .reservation-section__content {
    min-width: 300px;
    width: 100%;
    min-height: 50vh;
    padding: 10px;
    justify-items: center;
    align-content: center;
    grid-template-columns: 1fr; }
    .reservation-section .reservation-section__content .simple-caption.item {
      margin: 0; }

.restaurant-menu-section .content-section__container {
  grid-template-columns: 1fr 1fr; }
  .restaurant-menu-section .content-section__container .restaurant-menu-section__item-img {
    background-size: cover;
    background-position: center;
    text-align: center;
    align-content: center;
    justify-items: center;
    margin: 0 40px; }
    .restaurant-menu-section .content-section__container .restaurant-menu-section__item-img .simple-caption.item {
      margin: 0;
      background-color: rgba(28, 25, 28, 0.9); }
      .restaurant-menu-section .content-section__container .restaurant-menu-section__item-img .simple-caption.item span {
        padding-left: 15px; }
      .restaurant-menu-section .content-section__container .restaurant-menu-section__item-img .simple-caption.item span, .restaurant-menu-section .content-section__container .restaurant-menu-section__item-img .simple-caption.item h2 {
        color: white; }
  .restaurant-menu-section .content-section__container .restaurant-menu-section__item-dishes {
    padding: 0 40px;
    justify-items: center;
    grid-template-columns: 1fr;
    align-content: center;
    text-align: center; }
    .restaurant-menu-section .content-section__container .restaurant-menu-section__item-dishes .simple-caption.item {
      padding-top: 0;
      margin: 0; }

.button {
  box-sizing: border-box;
  border: 1px solid #1c191c;
  color: #1c191c;
  padding: 5px 15%;
  font-family: 'Kavivanar';
  margin: 0 auto;
  margin-top: 15px; }
  .button:hover {
    background-color: #406523;
    border: 1px solid #406523;
    color: #dbd8d8; }

.location-section {
  font-family: sans-serif;
  min-height: 60vh;
  background-image: url("../img/maps.png");
  background-size: cover;
  background-position: center;
  grid-template-columns: 1fr;
  text-align: center;
  align-content: center; }
  .location-section .location-section__content {
    background-color: rgba(28, 25, 28, 0.9);
    padding: 30px 40px;
    margin: 0 auto;
    z-index: 1;
    color: #c3c1c1; }
    .location-section .location-section__content h4 {
      color: #406523; }

.blog-section {
  min-height: 30vh; }
  .blog-section .content-section__container {
    max-width: 1000px;
    text-align: center; }
    .blog-section .content-section__container .blog-section__content {
      grid-template-columns: 1fr 1fr;
      grid-gap: 40px; }
      .blog-section .content-section__container .blog-section__content .blog-section__item.blog-section__item-left {
        grid-template-columns: 1fr;
        align-content: center;
        padding: 0 40px; }
        .blog-section .content-section__container .blog-section__content .blog-section__item.blog-section__item-left h4 {
          color: #406523;
          margin-top: 0; }
        .blog-section .content-section__container .blog-section__content .blog-section__item.blog-section__item-left p {
          text-align: left;
          margin-bottom: 40px; }
      .blog-section .content-section__container .blog-section__content .blog-section__item.blog-section__item-right {
        background-size: cover;
        background-position: center; }

.form-section {
  min-height: calc(100vh - 216px);
  max-height: 100vh;
  background-image: url("../img/horisontal_drinks.jpg");
  background-size: cover;
  background-position: center;
  color: #b5b5b5;
  font-family: sans-serif; }
  .form-section .content-section__container {
    max-width: 700px;
    min-width: 300px;
    text-align: center;
    color: white; }
    .form-section .content-section__container .form-section__container {
      width: 100%;
      grid-row-gap: 20px; }
      .form-section .content-section__container .form-section__container h4 {
        margin: 0;
        font-size: 27px; }
      .form-section .content-section__container .form-section__container input, .form-section .content-section__container .form-section__container textarea {
        width: 100%;
        display: block;
        border-radius: 10px;
        padding: 15px;
        opacity: .6;
        color: #406523;
        border: 0;
        outline: none;
        font-size: 20px; }
        .form-section .content-section__container .form-section__container input::placeholder, .form-section .content-section__container .form-section__container textarea::placeholder {
          color: #406523;
          font-weight: bold; }
      .form-section .content-section__container .form-section__container textarea {
        min-height: 24vh; }
      .form-section .content-section__container .form-section__container .button {
        border-radius: 10px;
        font-size: 24px;
        background-color: #406523;
        color: white;
        padding: 15px 35px;
        margin-top: 0;
        border: 0;
        outline: none;
        cursor: pointer;
        transition: background-color .3s ease; }
        .form-section .content-section__container .form-section__container .button:hover {
          background-color: #53832e; }

.footer {
  grid-template-columns: 1fr;
  background-color: #1c191c;
  color: white;
  text-align: center;
  align-content: center;
  justify-items: center; }
  .footer .content-section__container {
    text-align: center;
    justify-items: center;
    margin: 0; }
  .footer .footer__copy {
    text-align: center; }

@media only screen and (max-width: 1400px) {
  .header #sideBar {
    left: -35%;
    width: 35%; } }

@media only screen and (max-width: 1200px) {
  .galery {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "f th" "s s"; }
    .galery .galery__item {
      min-height: 33vh; }
      .galery .galery__item.galery__item_first {
        grid-area: f; }
      .galery .galery__item.galery__item_second {
        grid-area: s; }
      .galery .galery__item.galery__item_third {
        grid-area: th; } }

@media only screen and (max-width: 992px) {
  .blog-section .content-section__container .blog-section__content {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1.5fr;
    grid-template-areas: "r" "r" "l"; }
    .blog-section .content-section__container .blog-section__content .blog-section__item {
      min-height: 0; }
      .blog-section .content-section__container .blog-section__content .blog-section__item.blog-section__item-left {
        grid-area: l; }
      .blog-section .content-section__container .blog-section__content .blog-section__item.blog-section__item-right {
        grid-area: r; }
  .welcome-section .content-section__container .welcome-section__right {
    padding: 0 50px; }
  .services-section .content-section__container .services-section__container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 20px; } }

@media only screen and (max-width: 768px) {
  .header {
    padding-left: 45px;
    padding-right: 45px; }
    .header #sideBar {
      left: -60%;
      width: 60%; }
  .welcome-section .content-section__container {
    padding: 0 40px;
    grid-column-gap: 30px; }
    .welcome-section .content-section__container .welcome-section__left {
      padding: 0; }
    .welcome-section .content-section__container .welcome-section__right > div {
      min-height: 18vh;
      padding: 0; }
  .blog-section .content-section__container .blog-section__content .blog-section__item.blog-section__item-right {
    margin: 0 30px; }
  .restaurant-menu-section .content-section__container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1.5fr;
    grid-template-areas: "m" "m" "d";
    grid-row-gap: 40px; }
    .restaurant-menu-section .content-section__container .restaurant-menu-section__item-img {
      grid-area: m; }
    .restaurant-menu-section .content-section__container .restaurant-menu-section__item-dishes {
      grid-area: d; }
  .form-section .content-section__container {
    padding: 0 30px; } }

@media only screen and (max-width: 650px) {
  .welcome-section .content-section__container .welcome-section__right {
    padding: 0 35px; } }

@media only screen and (max-width: 550px) {
  .content-section {
    padding: 60px 0; }
    .content-section .angle {
      top: 15px; }
  .galery {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "f" "s" "th"; }
    .galery .galery__item {
      min-height: 33vh; }
      .galery .galery__item.galery__item_first {
        grid-area: f; }
      .galery .galery__item.galery__item_second {
        grid-area: s; }
      .galery .galery__item.galery__item_third {
        grid-area: th; }
  .welcome-section .content-section__container {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 1.5fr;
    grid-row-gap: 20px;
    grid-template-areas: "l l l l l l" ". r r r r .";
    text-align: center; }
    .welcome-section .content-section__container .welcome-section__left {
      grid-area: l;
      grid-row: 1;
      height: auto; }
      .welcome-section .content-section__container .welcome-section__left p {
        padding-top: 20px; }
    .welcome-section .content-section__container .welcome-section__right {
      padding: 0 30px;
      grid-area: r;
      grid-row: 2;
      max-width: 300px; }
      .welcome-section .content-section__container .welcome-section__right > div {
        min-height: 0; }
  .menu-section .content-section__container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "m" "d"; }
  .blog-section .content-section__container .blog-section__content {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "r" "l"; } }

@media only screen and (max-width: 510px) {
  .header .header__caption {
    padding-top: 50px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0;
    grid-row-gap: 50px; }
    .header .header__caption .header__caption_healthy {
      text-align: center; }
    .header .header__caption .header__caption_food {
      text-align: center;
      grid-column: 1;
      grid-row: 2; }
  .welcome-section .content-section__container .welcome-section__right {
    padding: 0; } }

@media only screen and (max-width: 480px) {
  .header #sideBar {
    left: -80%;
    width: 80%; }
    .header #sideBar .toggle-btn {
      left: 108%; }
  .welcome-section .content-section__container {
    grid-template-rows: 1fr 1fr; }
  .services-section .content-section__container .services-section__container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-row-gap: 20px; }
  .restaurant-menu-section .content-section__container .restaurant-menu-section__item-img {
    margin: 0; }
  .restaurant-menu-section .content-section__container .restaurant-menu-section__item-dishes {
    padding: 0; }
  .blog-section .content-section__container .blog-section__content .blog-section__item.blog-section__item-right {
    margin: 0; }
  .blog-section .content-section__container .blog-section__content .blog-section__item.blog-section__item-left {
    padding: 0; } }

@media only screen and (max-width: 370px) {
  .welcome-section .content-section__container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "l" "r"; }
    .welcome-section .content-section__container .welcome-section__right {
      padding: 0 30px; } }

@media only screen and (max-height: 580px) {
  .header {
    min-height: 100vh; }
  .welcome-section .content-section__container .welcome-section__right > div {
    min-height: 40vh; }
  .galery .galery__item {
    min-height: 50vh; }
  .reservation-section__content {
    min-height: 99vh; }
  .location-section {
    min-height: 80vh; } }

@media only screen and (max-height: 414px) {
  .form-section .content-section__container .form-section__container {
    grid-row-gap: 15px; }
    .form-section .content-section__container .form-section__container h4 {
      margin: 0;
      font-size: 23px; }
    .form-section .content-section__container .form-section__container input, .form-section .content-section__container .form-section__container textarea {
      font-size: 18px; } }
