@media only screen and (max-width : 1400px)
  .header
    #sideBar
      left: -35%
      width: 35%

@media only screen and (max-width : 1200px)
  .galery
    grid-template-columns: 1fr 1fr
    grid-template-rows: 1fr 1fr
    grid-template-areas: "f th" "s s"
    .galery__item
      min-height: 33vh
      &.galery__item_first
        grid-area: f
      &.galery__item_second
        grid-area: s
      &.galery__item_third
        grid-area: th


@media only screen and (max-width : 992px)
  .blog-section
    .content-section__container
      .blog-section__content
        grid-template-columns: 1fr
        grid-template-rows: 1fr 1fr 1.5fr
        grid-template-areas: "r" "r" "l"
        .blog-section__item
          min-height: 0
          &.blog-section__item-left
            grid-area: l
          &.blog-section__item-right
            grid-area: r
  .welcome-section
    .content-section__container
      .welcome-section__right
        padding: 0 50px

  .services-section
    .content-section__container
      .services-section__container
        grid-template-columns: 1fr 1fr
        grid-template-rows: 1fr 1fr
        grid-row-gap: $gutter

@media only screen and (max-width : 768px)
  .header
    padding-left: 45px
    padding-right: 45px
    #sideBar
      left: -60%
      width: 60%

  .welcome-section
    .content-section__container
      padding: 0 40px
      grid-column-gap: 30px
      .welcome-section__left
        padding: 0
      .welcome-section__right
        & > div
          min-height: 18vh
          padding: 0

  .blog-section
    .content-section__container
      .blog-section__content
        .blog-section__item.blog-section__item-right
          margin: 0 30px

  .restaurant-menu-section
    .content-section__container
      grid-template-columns: 1fr
      grid-template-rows: 1fr 1fr 1.5fr
      grid-template-areas: "m" "m" "d"
      grid-row-gap: 40px
      .restaurant-menu-section__item-img
        grid-area: m
      .restaurant-menu-section__item-dishes
        grid-area: d

  .form-section
    .content-section__container
      padding: 0 30px

@media only screen and (max-width : 650px)
  .welcome-section
    .content-section__container
      .welcome-section__right
        padding: 0 35px

@media only screen and (max-width : 550px)
  .content-section
    padding: 60px 0
    .angle
      top: 15px

  .galery
    grid-template-columns: 1fr
    grid-template-rows: 1fr 1fr 1fr
    grid-template-areas: "f" "s" "th"
    .galery__item
      min-height: 33vh
      &.galery__item_first
        grid-area: f
      &.galery__item_second
        grid-area: s
      &.galery__item_third
        grid-area: th

  .welcome-section
    .content-section__container
      grid-template-columns: repeat(6, 1fr)
      grid-template-rows: 1fr 1.5fr
      grid-row-gap: $gutter
      grid-template-areas: "l l l l l l" ". r r r r ."
      text-align: center
      .welcome-section__left
        grid-area: l
        grid-row: 1
        height: auto
        p
          padding-top: 20px
      .welcome-section__right
        padding: 0 30px
        grid-area: r
        grid-row: 2
        max-width: 300px
        & > div
          min-height: 0

  .menu-section
    .content-section__container
      grid-template-columns: 1fr
      grid-template-rows: 1fr 1fr
      grid-template-areas: "m" "d"

  .blog-section
    .content-section__container
      .blog-section__content
        grid-template-columns: 1fr
        grid-template-rows: 1fr 1fr
        grid-template-areas: "r" "l"

@media only screen and (max-width : 510px)
  .header
    .header__caption
      padding-top: 50px
      grid-template-columns: 1fr
      grid-template-rows: 1fr
      grid-column-gap: 0
      grid-row-gap: 50px
      .header__caption_healthy
        text-align: center
      .header__caption_food
        text-align: center
        grid-column: 1
        grid-row: 2

  .welcome-section
    .content-section__container
        .welcome-section__right
          padding: 0

@media only screen and (max-width : 480px)
  .header
    #sideBar
      left: -80%
      width: 80%
      .toggle-btn
        left: 108%

  .welcome-section
    .content-section__container
      grid-template-rows: 1fr 1fr

  .services-section
    .content-section__container
      .services-section__container
        grid-template-columns: 1fr
        grid-template-rows: repeat(4, 1fr)
        grid-row-gap: $gutter

  .restaurant-menu-section
    .content-section__container
      .restaurant-menu-section__item-img
        margin: 0
      .restaurant-menu-section__item-dishes
        padding: 0

  .blog-section
    .content-section__container
      .blog-section__content
        .blog-section__item.blog-section__item-right
          margin: 0
        .blog-section__item.blog-section__item-left
          padding: 0


@media only screen and (max-width : 370px)
  .welcome-section
    .content-section__container
      grid-template-columns: 1fr
      grid-template-rows: 1fr 1fr
      grid-template-areas: "l" "r"
      .welcome-section__right
        padding: 0 30px

// Horisontal
@media only screen and (max-height : 580px)
  .header
    min-height: 100vh

  .welcome-section
    .content-section__container
      .welcome-section__right > div
        min-height: 40vh

  .galery
    .galery__item
      min-height: 50vh

  .reservation-section
    &__content
      min-height: 99vh

  .location-section
    min-height: 80vh

@media only screen and (max-height : 414px)
  .form-section
    .content-section__container
      .form-section__container
        grid-row-gap: 15px
        h4
          margin: 0
          font-size: 23px
        input, textarea
          font-size: 18px
