@media only screen and (max-width : 1400px)
  .main_header
    #sideBar
      left: -35%
      width: 35%

@media only screen and (max-width : 1200px)
  .galery
    grid-template-columns: 1fr 1fr
    grid-template-rows: 1fr 1fr
    grid-template-areas: "f th" "s s"
    .galery-item
      min-height: 33vh
      &.first
        grid-area: f
      &.second
        grid-area: s
      &.third
        grid-area: th


@media only screen and (max-width : 992px)
  .blog-section
    .container
      .blog-content
        grid-template-columns: 1fr
        grid-template-rows: 1fr 1fr 1.5fr
        grid-template-areas: "r" "r" "l"
        .blog-item
          min-height: 0
          &.left
            grid-area: l
          &.right
            grid-area: r
  .welcome
    .container
      .welcome-right
        padding: 0 50px

  .services-section
    .container
      .services-container
        grid-template-columns: 1fr 1fr
        grid-template-rows: 1fr 1fr
        grid-row-gap: $gutter

@media only screen and (max-width : 768px)
  .main_header
    padding-left: 45px
    padding-right: 45px
    #sideBar
      left: -60%
      width: 60%

  .welcome
    .container
      padding: 0 40px
      grid-column-gap: 30px
      .welcome-left
        padding: 0
      .welcome-right
        & > div
          min-height: 18vh
          padding: 0

  .blog-section
    .container
      .blog-content
        .blog-item.right
          margin: 0 30px

  .menu-section
    .container
      grid-template-columns: 1fr
      grid-template-rows: 1fr 1fr 1.5fr
      grid-template-areas: "m" "m" "d"
      grid-row-gap: 40px
      .menu-item
        grid-area: m
      .dishes-item
        grid-area: d

  .form-section
    .container
      padding: 0 30px

@media only screen and (max-width : 650px)
  .welcome
    .container
      .welcome-right
        padding: 0 35px

@media only screen and (max-width : 550px)
  .content-section
    padding: 60px 0

  .galery
    grid-template-columns: 1fr
    grid-template-rows: 1fr 1fr 1fr
    grid-template-areas: "f" "s" "th"
    .galery-item
      min-height: 33vh
      &.first
        grid-area: f
      &.second
        grid-area: s
      &.third
        grid-area: th

  .welcome
    .container
      grid-template-columns: repeat(6, 1fr)
      grid-template-rows: 1fr 1.5fr
      grid-row-gap: $gutter
      grid-template-areas: "l l l l l l" ". r r r r ."
      text-align: center
      .welcome-left
        grid-area: l
        grid-row: 1
        height: auto
        p
          padding-top: 20px
      .welcome-right
        padding: 0 30px
        grid-area: r
        grid-row: 2
        max-width: 300px
        & > div
          min-height: 0

  .menu-section
    .container
      grid-template-columns: 1fr
      grid-template-rows: 1fr 1fr
      grid-template-areas: "m" "d"

  .blog-section
    .container
      .blog-content
        grid-template-columns: 1fr
        grid-template-rows: 1fr 1fr
        grid-template-areas: "r" "l"

@media only screen and (max-width : 510px)
  .main_header
    .header-caption
      padding-top: 50px
      grid-template-columns: 1fr
      grid-template-rows: 1fr
      grid-column-gap: 0
      grid-row-gap: 50px
      .caption_healthy
        text-align: center
      .caption_food
        text-align: center
        grid-column: 1
        grid-row: 2

  .welcome
    .container
        .welcome-right
          padding: 0

@media only screen and (max-width : 480px)
  .main_header
    #sideBar
      left: -80%
      width: 80%
      .toggle-btn
        left: 108%

  .welcome
    .container
      grid-template-rows: 1fr 1fr

  .services-section
    .container
      .services-container
        grid-template-columns: 1fr
        grid-template-rows: repeat(4, 1fr)
        grid-row-gap: $gutter

  .menu-section
    .container
      .menu-item
        margin: 0
      .dishes-item
        padding: 0

  .blog-section
    .container
      .blog-content
        .blog-item.right
          margin: 0
        .blog-item.left
          padding: 0


@media only screen and (max-width : 370px)
  .welcome
    .container
      grid-template-columns: 1fr
      grid-template-rows: 1fr 1fr
      grid-template-areas: "l" "r"
      .welcome-right
        padding: 0 30px

// Horisontal
@media only screen and (max-height : 580px)
  .main_header
    min-height: 100vh

  .welcome
    .container
      .welcome-right > div
        min-height: 40vh

  .galery
    .galery-item
      min-height: 50vh

  .reservation-section
    .reservation-content
      min-height: 99vh

  .location-section
    min-height: 80vh

@media only screen and (max-height : 414px)
  .form-section
    .container
      .form-container
        grid-row-gap: 15px
        h4
          margin: 0
          font-size: 23px
        input, textarea
          font-size: 18px
